<%- include('partials/header') -%>
<%- include("partials/navbar.ejs", {logged: false, writer: writer}) %>
<div class="main center full col">
  <h1 class='a-title'>News Flash</h1>
  <h4 class='a-title'> <%=errorCode%> Error: <%=details%></h4>
  <button class="t-input forty-wide" onclick="window.location.href='/'">Return to safety</button>
</div>

<%- include('partials/footer') -%>